<h1>Checklist templates</h1>
<ul>
  <% @checklist_templates.each do |template| %>
    <li>
      <%= link_to template.title, checklist_template_path(template) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create Checklist template', new_checklist_template_path %>
