- if item.not_done?
  = simple_form_for [checklist, item], url: item_complete_path(item), method: :post do |f|
    = f.check_box :state, checked: item.done?
- else
  = simple_form_for [checklist, item], url: item_undo_path(item), method: :delete do |f|
    = f.check_box :state, checked: item.done?
