<h1>Checklists</h1>
<ul>
  <% @checklist_view.checklists.each do |checklist| %>
    <li>
      <%= link_to checklist.title, checklist_path(checklist) %>
    </li>
  <% end %>
</ul>
<%= pagy_bootstrap_nav(@checklist_view.pagination).html_safe %>

<%= link_to 'Create Checklist', checklists_path, method: :post %>
