<h1>Checklists</h1>
<ul>
  <% @checklists.each do |checklist| %>
    <li>
      <%= link_to checklist.title, checklist_path(checklist) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Creat Checklist', checklists_path, method: :post %>
