.container
  %h1= t('views.checklists.index.title')
  %ul
    - @checklist_view.checklists.each do |checklist|
      %li= link_to checklist.title, checklist_path(checklist)

  = will_paginate @checklist_view.checklists

  = link_to t('views.checklists.create.title'), checklists_path, method: :post
