.container
  %h1= t('views.checklists.index.title')
  %ul
    - @checklists.each do |checklist|
      %li= link_to checklist.title, checklist_path(checklist)

  = link_to t('views.checklists.create.title'), new_checklist_path
